version: "3.7"

services:
  db:
    image: mysql:5.7.33
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:latest
    volumes:
      - redis-data:/data

  base: &base
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.ci
      cache_from:
        - iwl-development-cache
      args:
        ARG_RUBY_VERSION: ${ARG_RUBY_VERSION}
        ARG_BUNDLER_VERSION: ${ARG_BUNDLER_VERSION}
        ARG_APP_PATH: ${ARG_APP_PATH}
        ARG_RUBYGEMS_VERSION: ${ARG_RUBYGEMS_VERSION}
    image: iwl-development:0.1.0
    tmpfs:
      - /tmp

  wait-middleware: &wait-middleware
    <<: *base
    environment:
      WAIT_HOSTS: db:3306,redis:6379
      WAIT_TIMEOUT: 90
      WAIT_HOST_CONNECT_TIMEOUT: 10
      WAIT_BEFORE: 5
      WAIT_AFTER: 5
      WAIT_SLEEP_INTERVAL: 2
    depends_on:
      - db
      - redis
    command: /wait

  backend: &backend
    <<: *base
    stdin_open: true
    tty: true
    volumes:
      - ./:${ARG_APP_PATH}:cached
      - rails-cache:${ARG_APP_PATH}/tmp/cache
    depends_on:
      - db
      - redis

  console:
    <<: *backend
    command: /bin/bash

volumes:
  db-data:
  rails-cache:
  redis-data: